doctype html
html(lang='ru-RU')
    head
        meta(charset="utf-8")
        meta(content="width=device-width,initial-scale=1.0,minimum-scale=1.0,,shrink-to-fit=yes", name="viewport")
        meta(name="theme-color", content="#A48AAD")
        title= title
    body(style="font-family: Segoe UI,Helvetica Neue,sans-serif;")
        div(id="root")
        script.
          window.scope = {};
        script(src="client/main.bundle.js" type="application/javascript")
